.flag-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flag-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 1.5rem;
  gap: 0.25rem;
}
.flag-icon {
  width: 24px;
  height: 24px;
  filter: grayscale(50%);
}
.flag-icon:hover {
  width: 24px;
  height: 24px;
  filter: grayscale(0%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
